@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
main {
    width: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(44, 34, 34);
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #b61a1a;
    text-shadow: darkgreen 1px 1px 2px, darkgreen 0px 0px 1px;
}
h2 {
    color: #cf1374;
}

p   {
    text-align: justify;
    color: blue;
}